/* HomePage.css */

.container {
    max-width: 800px; /* Limit width for better readability */
    margin: auto; /* Center align content */
    padding: 40px; /* Padding around content */
    text-align: center; /* Center align text */
}

.container h1 {
    font-size: 4.4887rem; /* Increased font size for h1 */
    margin-bottom: 20px; /* Space below heading */
    color: #ffffff; /* White text color */
}

.container p {
    font-size: 2rem; /* Medium paragraph font size */
    line-height: 1.6; /* Line height for better readability */
    margin-bottom: 20px; /* Space below paragraphs */
    color: #999; /* Updated text color for paragraphs */
}

.button {
    display: inline-block;
    padding: 20px 40px; /* Padding around button text */
    background-color: #cdcf4d; /* Bootstrap blue */
    color: #000000;
    font-size: 1.5rem; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #fff; /* Maintain white text color */
}
