/* Navbar.css

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070c1d;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: inline-block;
  margin-right: 20px;
}

.logo {
  width: 200px;
  height: 50px;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.bi-robot{
  width: 200px;
  height: 50px;
}


.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-links i {
  font-size: 18px;
  color: white;
}

.navbar-right {
  display: flex;
}

.navbar-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-button a {
  color: white;
  text-decoration: none;
}

.navbar-button:hover {
  background-color: #45a049;
} */

/* Navbar.css */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070c1d;
  padding: 10px;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: inline-block;
  margin-right: 20px;
}

.logo {
  width: 200px;
  height: 50px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links li {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.bi-robot {
  width: 200px;
  height: 50px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-links i {
  font-size: 18px;
  color: white;
}

.navbar-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-button a {
  color: white;
  text-decoration: none;
}

.navbar-button:hover {
  background-color: #45a049;
}

.navbar-toggler {
  display: none;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1100;
}


@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    left: 10px;
    background-color: #070c1d;
    border-radius: 5px;
    width: auto;
    flex-direction: column;
    align-items: center;
    z-index: 1050;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 10px 0;
    width: 100%;
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar-toggler {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1200;
  }

  .navbar-toggler:focus {
    outline: none;
  }
}
